.company-description {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px; 
    text-align: center;
}

.company-description h1, h2 {
    color: #333; 
}

.company-description p, ul {
    color: #666; 
}

.company-info, .company-advantages, .company-future {
    margin-top: 20px; 
}

.company-description ul {
    list-style-type: none; 
    padding: 0; 
}

.company-description ul li {
    position: relative;
    padding-left: 20px; 
}

.company-description ul li::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: #333; 
    border-radius: 50%;
    opacity: 0.5; 
}

.company-description ul li em {
    font-style: italic;
}


.company-info, .company-advantages, .company-future {
    background-color: #dddada; 
    padding: 15px;
    border-radius: 10px; 
}

