@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');


body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden; /* Hide overflow to prevent scrolling when the menu is open */
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #FFD700; /* Blue color for headings */
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: #fff;
    margin-top: auto; /* Это фиксирует footer внизу страницы */
}

.social-buttons {
    margin-top: 10px;
}

.social-buttons button {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 8px 16px;
    margin: 0 5px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}

.slider {
    margin: 0 auto;
    width: 80%;
}

.slick-prev,
.slick-next {
    font-size: 18px;
    color: #333;
}

.slick-dots {
    bottom: -30px;
}

.slick-dots li button {
    font-size: 10px;
    color: #333;
}

/* Стили для слайдов */
.slick-slide img {
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.company-description {
    text-align: center;
    padding: 20px;
}