.menu-button {
    position: relative;
}

#menu-toggle {
    background-color: #FFD700;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    transition: background-color 0.3s ease;
}

#menu-toggle:hover {
    background-color: #000000;
}

.menu-list {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%; 
    background-color: #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    z-index: 1; 
}

.menu-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.menu-list li {
    margin-bottom: 20px; 
}

.menu-list a {
    display: block;
    padding: 10px 20px; 
    text-decoration: none;
    color: #333; 
    transition: background-color 0.3s ease;
}

.menu-list a:hover {
    background-color: #f0f0f0; 
}